.header-image {
	transition-duration: .4s;
    background-image: url("../images/background-home.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#second-page {
    display: none;
}